.header {
    background-color: #181a18;
    text-align: center;
}

.title-site {
    color: yellow;
    font-family: fantasy;
    font-size: 60px;
}


.card-disposition {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 15px;
}

.button-view {
    display: flex;
    justify-content: space-around;
}