/* GENERIC */

.white-color {
    color: white;
}

.grey-color {
    color: gray;
}

.text-a-center {
    text-align: center;
}

.pt-10 {
    padding-top: 10px;
}

a {
    text-decoration: none;
}



/* HEADER */
.header {
    background-color: #111211;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-top: 20px;
}

.header-logo {
    height: auto;
    width: 320px;
    object-fit: contain;
}


/* MOVIESLIDER */
.section-ui {
    background-color: #111211;
    padding-bottom: 80px;
    padding-top: 15px;

}

.movie-intro {
    color: white;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); */

}

.card-disposition {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 15px;
}

.card-disposition::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.card {
    border-color: black;

}

.card-img-top {
    object-fit: cover;
    height: 464px;
    width: auto;
}

.card-body {
    background-color: black;
}

.card-title {
    color: white
}

.card-text {
    color: white;
}


.button-view {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #c3aed6;
    color: white;
    border-color: white;
}

/* SOVRASCRIVO COLORI BOOTSTRAP */
.btn-primary:hover {
    filter: brightness(0.85);
    background-color: #c3aed6;
    border-color: white;
}

.scroll-button {
    padding: 0px 30px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #181a18;
    border-color: white;
    color: white;
}

.scroll-button:hover {
    filter: brightness(0.85);
}

/* FILM DECTAIL SECTION */


.box-container {
    display: flex;
    justify-content: space-evenly;
}

.title-container {
    text-align: center;
    padding-bottom: 20px;
}

.right-box-container {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 30px;
}

.right-box-info {
    display: flex;
    justify-content: space-around;

}

.left-box-img {
    height: 530px;
    width: 400px;
    object-fit: contain;
}